{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@!EasyAdmin/crud/form_theme.html.twig' %}

{# Widgets #}

{% block mwt_admin_attachment_widget -%}
    {# TODO: This is a temporary implementation... #}

    <div class="input-group">
        {{ form_widget(form, {attr: {
            class: 'mwt-attachment-field form-control',
            'data-api-url': form.vars.api_url,
            'data-csrf-token': csrf_token(form.vars.api_token_id),
        }}) }}

        {% if form.vars.valid and form.vars.value is not empty %}
            <button type="button" class="btn btn-secondary" onclick="javascript:document.getElementById('{{ form.vars.id }}__metadata').classList.toggle('visually-hidden')"><i class="fas fa-list" style="padding-right: 2px;"></i></button>

            <a class="btn btn-primary" style="height: 28px; margin-top: 1px;" href="{{ attachment_public_url(form.vars.data) }}" target="_blank">Preview <i class="fas fa-external-link-alt"></i></a>
        {% endif %}
    </div>

    <div id="{{ form.vars.id }}__metadata" class="mt-3 visually-hidden">{{ dump(form.vars.value.metadata) }}</div>

    {% if form.vars.valid and form.vars.value is not empty %}
        <div class="mt-3"></div>
    {% endif %}

    <div class="mwt-upload-widget mt-3">
        <div>
            <label for="{{ form.vars.id }}__file" class="required">File</label>
            <input id="{{ form.vars.id }}__file" type="file">
        </div>
        <div>
            <label for="{{ form.vars.id }}__context">Context</label>
            <input type="text" id="{{ form.vars.id }}__context">
        </div>

        <button class="btn btn-primary" id="{{ form.vars.id }}__upload_button">Upload</button>
    </div>
{%- endblock mwt_admin_attachment_widget %}
