{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@!EasyAdmin/crud/form_theme.html.twig' %}

{# Widgets #}

{% block mwt_admin_attachment_widget -%}
    {# TODO: This is a temporary implementation... #}

    {% if data is not null %}
        {% set publicUrl = attachment_public_url(data) %}
    {% else %}
        {% set publicUrl = '' %}
    {% endif %}

    <div class="input-group visually-hidden">
        {{ form_widget(form, {attr: {
            class: 'mwt-attachment-field form-control',
            'data-api-url': api_url,
            'data-csrf-token': api_token,
            'data-public-url': publicUrl,
        }}) }}
    </div>

    <div class="mwt-upload-widget form-control" id="{{ id }}__mwt-upload-widget">
        <div class="display form-control"></div>

        <div class="metadata form-control">
            <div><strong>Name:</strong> <span class="file-name"></span></div>
            <div><strong>Type:</strong> <span class="file-type"></span></div>
            <div><strong>Size:</strong> <span class="file-size"></span></div>
        </div>

        <div class="actions">
            <label for="{{ id }}__file" class="upload-button btn btn-primary">
                <i class="fas fa-upload"></i>
            </label>
            <input id="{{ id }}__file" type="file" class="upload-input visually-hidden">

            <button class="delete-button btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
        </div>

        <a class="error-button visually-hidden"
           type="button"
           data-bs-toggle="dropdown"
           data-bs-offset="0,5"
           aria-expanded="false"></a>
        <ul class="error-list dropdown-menu dropdown-menu-end invalid-feedback"></ul>
    </div>
{%- endblock mwt_admin_attachment_widget %}

{% block mwt_admin_editorjs_widget -%}
    {# TODO: This is a temporary implementation... #}

    {{ form_widget(form, {
        value: value is null ? '' : value|serialize('json'),
        type: 'hidden',
        attr: {
            class: 'mwt-editorjs-field',
            'data-tools-options': tools_options|json_encode,
        }
    }) }}

    <div id="{{ id }}__editor" class="form-control mwt-widget-wrapper mwt-editorjs-wrapper{% if not valid %} is-invalid{% endif %}"></div>
{%- endblock mwt_admin_editorjs_widget %}
