{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@!EasyAdmin/crud/form_theme.html.twig' %}

{# Widgets #}

{% block mwt_admin_attachment_widget -%}
    {# TODO: This is a temporary implementation... #}

    {% if data is not null %}
        {% set publicUrl = attachment_public_url(data) %}
    {% else %}
        {% set publicUrl = '' %}
    {% endif %}

    <div class="input-group visually-hidden">
        {{ form_widget(form, {attr: {
            class: 'mwt-attachment-field form-control',
            'data-api-url': api_url,
            'data-csrf-token': csrf_token(api_token_id),
            'data-public-url': publicUrl,
        }}) }}

        {% if valid and data is not empty %}
            <button type="button"
                    class="btn btn-secondary"
                    onclick="javascript:document.getElementById('{{ id }}__metadata').classList.toggle('visually-hidden')">
                <i class="fas fa-list" style="padding-right: 2px;"></i>
            </button>

            <a class="btn btn-primary"
               style="height: 28px; margin-top: 1px;"
               href="{{ attachment_public_url(data) }}"
               target="_blank">Preview <i class="fas fa-external-link-alt"></i></a>
        {% endif %}
    </div>

    {% if valid and data is not empty %}
        <div id="{{ id }}__metadata" class="mt-3 visually-hidden">{{ dump(data.metadata) }}</div>
    {% endif %}

    <div class="mwt-upload-widget form-control" id="mwt-upload-widget">
        <div class="display form-control">
            <a id="previewer" href="" target="_blank">
                <i id="document-preview" class="fas fa-file visually-hidden"></i>
                <img id="image-preview" class="visually-hidden" src="" alt="">
            </a>
        </div>

        <div class="metadata form-control">
            <div><strong>Name:</strong><p id="file-name"></p></div>
            <div><strong>Type:</strong><p id="file-type"></p></div>
            <div><strong>Size:</strong><p id="file-size"></p></div>
        </div>

        <div class="actions">
            <div class="input-file btn btn-primary">
                <label for="{{ id }}__file"  class="{# required #}">
                    <i class="fas fa-upload"></i>
                </label>
                <input id="{{ id }}__file" type="file" class="visually-hidden">
            </div>

            <button class="delete-button btn btn-primary" id="{{ id }}__delete_button"><i class="fas fa-trash-alt"></i></button>
        </div>

        <a id="{{ id }}__error_button"
           class="error-button visually-hidden"
           type="button"
           data-bs-toggle="dropdown"
           data-bs-offset="0,5"
           aria-expanded="false"></a>
        <ul id="{{ id }}__error_list" class="error-list dropdown-menu dropdown-menu-end invalid-feedback"></ul>
    </div>
{%- endblock mwt_admin_attachment_widget %}

{% block mwt_admin_editorjs_widget -%}
    {# TODO: This is a temporary implementation... #}

        {{ form_widget(form, {
            value: value|json_encode,
            type: 'hidden',
            attr: {
                class: 'mwt-editorjs-field',
                'data-tools-options': tools_options|json_encode,
            }
        }) }}

        <div id="{{ id }}__editor" class="form-control mwt-widget-wrapper mwt-editorjs-wrapper{% if not valid %} is-invalid{% endif %}"></div>
{%- endblock mwt_admin_editorjs_widget %}
