{# @var \Mep\WebToolkitBundle\Entity\EditorJs\Block\List block #}

{% if block.style == 'ordered' %}
    {% set tagName = 'ol' %}
{% else %}
    {% set tagName = 'ul' %}
{% endif %}

{% macro printListItems(items, tagName) %}
    {% for item in items %}
        {% if item.items.getValues is not empty %}
            <li>
                {{ item.content }}

                <{{ tagName }}>
                    {{ _self.recursiveItemList(item.items, tagName) }}
                </{{ tagName }}>
            </li>
        {% else %}
            <li>{{ item.content }}</li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<{{ tagName }}>
    {{ _self.printListItems(block.items, tagName) }}
</{{ tagName }}>
