{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@!EasyAdmin/layout.html.twig' %}
{% trans_default_domain 'WebToolkitBundle' %}

{% block configured_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/webtoolkit/app.css')|e('html_attr') }}">

    {{ parent() }}
{% endblock %}

{% block configured_javascripts %}
    <script src="{{ asset('bundles/webtoolkit/app.js')|e('html_attr') }}"></script>

    {{ parent() }}
{% endblock %}

{% block user_menu %}
    {{ parent() }}

    {% if locales is not empty %}
        <li><hr class="dropdown-divider"></li>
        <li><h6 class="dropdown-header">{% trans %}language_switcher.header{% endtrans %}</h6></li>

        {% for locale in locales %}
            {% set is_current_locale = locale == app.request.locale %}
            {% set current_locale_name = "language_switcher.locales.#{locale}"|trans %}
            {% set localized_url = path(
                app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'_locale': locale})) %}

            <li>
                <a href="{{ localized_url }}" title="{% trans with {locale: current_locale_name} %}language_switcher.switch_link_title{% endtrans %}" class="dropdown-item{% if is_current_locale %} active{% endif %}"{% if is_current_locale %} aria-current="true"{% endif %}>
                    {{ current_locale_name }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
{% endblock %}
