{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
be used in a EasyAdmin Dashboard controller, where 'ea' is defined
or from any other Symfony controller, where 'ea' is not defined #}
{% extends '@!EasyAdmin/page/login.html.twig' %}
{% trans_default_domain 'WebToolkitBundle' %}

{% block page_title %}{{ 'login_page.title'|trans }}{% endblock %}

{% block wrapper_wrapper %}
{% set sign_in_title = 'login_page.sign_in'|trans %}
{% set _username_label = username_label is defined ? username_label|trans : 'login_page.username'|trans() %}
{% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans() %}

<div class="login-wrapper">
    <header class="main-header mb-4">
        <div id="header-logo">
            {% block header_logo %}
                <div class="logo {{ sign_in_title|length > 14 ? 'logo-long' }}">
                    {{ sign_in_title|raw }}
                </div>
            {% endblock header_logo %}
        </div>
    </header>

    <section class="content">

        {% if error|default(false) %}
        <div class="w-100 alert alert-danger rounded mb-3">
            <i class="fas fa-times-circle mr-1"></i>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}

        <form method="post" action="{{ action|default('') }}">
            {% if csrf_token_intention|default(false) %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
            {% endif %}

            <input type="hidden" name="{{ target_path_parameter|default('_target_path') }}" value="{{ target_path|default(ea is defined ? path(ea.dashboardRouteName) : '/') }}" />

            <div class="mb-3">
                <label for="email">{{ _username_label }}</label>
                <input type="text" id="email" name="{{ username_parameter|default('email') }}" class="form-control" value="{{ error.userIdentifier|default('') }}" required autofocus autocomplete="email">
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="this.form.submit(); this.disabled=true;">{{ _sign_in_label }}</button>
        </form>

        <script type="text/javascript">
            const loginForm = document.querySelector('form');
            loginForm.addEventListener('submit', () => {
                loginForm.querySelector('button[type="submit"]').setAttribute('disabled', 'disabled');
            }, false);
        </script>
    </section>
</div>
{% endblock %}
